
* {
    box-sizing: border-box;
}
  
body {
margin: 0;
padding: 0;
line-height: 2.5;
font-size: 20px;
}

.jumbotron {

    padding: 20px;

}

h1 {
    font-size: 35px;
}

h3 {
    font-size: 18rpx;
}

input {
    width: 70%;
    padding: 4px;
    border: 2px solid gainsboro;
    border-radius: 4px;
}
 
i {
    font-size: 20px;
    padding: 9px 2px;
}

main {
    padding: 10px;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}
  
.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card {
    padding: 10px 10px;
    margin-bottom: 20px;
}

.card-deck {
    padding: 5px 2px;
}

.bg-orange {
    background-color: orange;
}