*{
    box-sizing: border-box;
}
body {
  height: 100%;
  margin: 0;
}

button{
    transition-duration: .4s;
    border: none;
    border-radius: 5px;
    background-color: #ff9f43;
    height: auto;
    width: 70px;
}


button:hover {
    background-color: #feca57;
}

button:focus {
    border: none;
    outline-color: #b2bec3;
    
}

header {
    background-color: navy;
    color: white;
    text-align: center;
    height: 100px;
    width: 100%;
    font-size: xx-large;
    margin-top: 0;
}

h1,h3,p,li {
    font-family: 'Roboto', sans-serif;
}

header h1 {
    margin: 0;
    padding-top: 10px;
}

html{
    height: 100%;
}

input {
    border: 1px solid #cecfd2;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-direction: row;
    max-width: 640px;
    height: 100%;
}

.search {
    padding:25px;
    background-color: #f5f6fa;
}

.search h1 {
    line-height: 30px;
}

.forecast {
    height: 40%;
    padding: 12px 15px 15px 15px;
    min-width: 640px;
    margin-left: 5%;
    border: solid 1px #cecfd2;
    margin-top: 25px;
}

.five-day-container h1 {
    margin-left: 5%;
    margin-top: 25px;
}

.card-row {
    flex-direction
}

.five-day-card {
    background-color: #3498db;
    font-size: larger;
    color: white;
    border-radius: 5px;
    height: auto;
    width: 175px;
    margin-left: 58.5px;
}

.five-day-container .card-text {
    margin-bottom: 15px:
    padding: 10px 30px 5px 10px;
}

.five-day-card h3 {
    margin: 5px;
}

.five-day-card img {
    margin-left: 10%;
}

.historyItems {
    margin-top: 20px;
}

.historyItems:nth-child() {
    margin-top:20px;
}

img {
    height: auto;
    width: auto;
}